<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<csrf disabled="true" />

		<form-login
			login-page="/login"
			username-parameter="username"
			password-parameter="password"
			authentication-success-handler-ref="clubLoginHandler"
			always-use-default-target = "true"
			/>
			
		<remember-me key="MtvTrampolin-GB" token-validity-seconds="4838400" />
	</http>

	<beans:bean id="clubLoginHandler"
		class="de.kreth.clubhelperbackend.controller.ClubLoginHandler" />

	<!-- authentication-failure-url="/login?error" -->
	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled" />

	<authentication-manager>
		<authentication-provider ref="clubhelperAuthenticationProvider" />
	</authentication-manager>

</beans:beans>