
#full-clndr{
	background-color:#ebebeb;font-weight:700;-moz-box-shadow:4px 4px 0 #343434;-webkit-box-shadow:4px 4px 0 #343434;box-shadow:4px 4px 0 #343434;
	font-family:Inconsolata,Monaco,'Andale Mono',Courier;color:#212121;
}

#full-clndr h1,#full-clndr h2,#full-clndr h3,#full-clndr h4,#full-clndr h5,#full-clndr h6{
	margin-bottom:1em;color:white;text-shadow:1px 1px 1px #212121
}

#full-clndr .clndr-controls  {
	text-align: center;
	font-size:18px;
}
#full-clndr .clndr-controls .clndr-previous-button {
	float: left;
}
#full-clndr .clndr-controls .clndr-next-button {
	float: right;
}
#full-clndr .clndr-grid{
	float:left;width:100%;border-right:2px solid white;
	font-size:12px;
}

#full-clndr .clndr-grid .days-of-the-week{
	width:100%;background-color:#3883a3
}

#full-clndr .clndr-grid .days-of-the-week .header-day{
	float:left;width:14.2857%;padding:14px;text-align:center;color:white
}

#full-clndr .clndr-grid .days{
	width:100%
}

#full-clndr .clndr-grid .days .day,#full-clndr .clndr-grid .days .empty{
	float:left;width:14.2857%;height:66px;padding:2px;
	text-align:right;
	color:#4f4f4f;background-color:#ebebeb;
	border-bottom:2px solid white;
	background-image:url('./triangle.svg');background-size:cover;background-position:center
}

#full-clndr .clndr-grid .days .day.event .day-number,#full-clndr .clndr-grid .days .empty.event .day-number{
	padding-bottom:2px;border-bottom:2px solid #3883a3
}

#full-clndr .clndr-grid .days .day.adjacent-month .day-number,#full-clndr .clndr-grid .days .empty.adjacent-month .day-number{
	opacity:.3
}

#full-clndr .clndr-grid .days .today{
	background-color:white;background-image:none
}

#full-clndr .event-listing{
	float:left;width:100%
}

#full-clndr .event-listing .event-listing-title{
	padding:14px;background-color:#71bbd2;text-align:center;color:white;letter-spacing:1px
}

#full-clndr .event-listing .event-item{
	padding:14px;color:#4f4f4f
}

#full-clndr .event-listing .event-item-location{
	font-weight:400
}

.noselect{
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none
}

*{
	margin:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box
}

p{
	line-height:1.5em;margin-bottom:1em
}

p+h3{
	margin-top:3em
}

a{
	text-decoration:none;background-color:#ebebeb;color:#3883a3;padding:0 2px;border-radius:2px;-webkit-transition:background-color .2s color .4s;-moz-transition:background-color .2s color .4s;-ms-transition:background-color .2s color .4s;-o-transition:background-color .2s color .4s;transition:background-color .2s color .4s
}

a:hover{
	background-color:#98cede;color:#212121
}

span.code{
	padding:0 2px;background-color:rgba(255,255,255,0.4);border-radius:2px
}

.block{
	padding:80px 0;width:100%
}

.inner{
	max-width:960px;padding:0 20px;margin:0 auto
}

.clearfix:after{
	content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0
}

.clearfix{
	display:inline-block
}

html[xmlns] .clearfix{
	display:block
}

* html .clearfix{
	height:1%
}

strong{
	font-weight:700
}

.bg-gray{
	background-color:#414141
}

.bg-red{
	background-color:#ff5a45
}

.bg-red a{
	color:#ff5a45
}

.bg-red a:hover{
	background-color:#ffb4ab;color:#212121
}

.bg-blue{
	background-color:#71bbd2
}

.bg-green{
	background-color:#97ce7f
}

.bg-yellow{
	background-color:#ddca9a
}

.header{
	padding:30px 0
}

.clndr-logo{
	margin:0 auto;width:113px;height:113px;background-image:url('./clndr-logo.svg')
}

.banner-text{
	text-align:center;color:#f4f4f4;letter-spacing:1px;font-weight:normal;text-shadow:2px 2px 2px #212121
}

.banner-text.below{
	margin-top:30px
}

.banner-text.below a{
	background-color:transparent;color:#97ce7f
}

.banner-text.below a:hover{
	color:#d3eac9
}

.more-space{
	margin-top:3em
}

h1.banner-text{
	font-size:28px
}

.banner-text.below{
	font-size:16px;word-wrap:break-word
}

code[class*="language-"],pre[class*="language-"]{
	font-size:14px
}


