<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Properties will be overridden by PropertyOverrideConfigurer if file 
		exists! -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/clubhelperbackend" />
		<property name="username" value="markus" />
		<property name="password" value="0773" />
	</bean>
	<!-- Overriding Properties File, if exists (on server) -->
	<bean
		class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="location"
			value="file:/var/lib/tomcat6/webapps/spallek.properties" />
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="sqlForDialect" class="de.kreth.clubhelperbackend.config.SqlForMysql">
		<constructor-arg ref="jdbcTemplate" />
	</bean>

	<aop:aspectj-autoproxy proxy-target-class="true">
		<aop:include name="mysqlDbCheckAspect" />
		<aop:include name="controllerLoggerAspect" />
		<aop:include name="SecurityAspect" />
		<aop:include name="deletedStorageAspect" />
	</aop:aspectj-autoproxy>

</beans>